<div class="auth">
  <div class="auth-window">
    <h4>Личный кабинет</h4>

    <app-login *ngIf="activeForm === 'login'"></app-login>
    <app-register *ngIf="activeForm === 'register'"></app-register>

    <div class="switch-buttons">
      <button 
        class="switch-btn" 
        [class.active]="activeForm === 'login'"
        (click)="showLogin()">
        Вход
      </button>
      <button 
        class="switch-btn" 
        [class.active]="activeForm === 'register'"
        (click)="showRegister()">
        Регистрация
      </button>
    </div>
  </div>
</div>