<div>Ты авторизовался</div>
<ul>
    @for (chat of chats; track chat.id) {
        <li>
            {{chat.name}}
            <button (click)="deleteChat(chat.id)">Удалить</button>
        </li>
    }   
</ul>

<input 
  type="text" 
  [(ngModel)]="targetUserId" 
  placeholder="ID пользователя"
/>
<button (click)="createChat()">Создать чат</button>

<input [(ngModel)]="formForGroup.name" placeholder="Название группы"/>
<input [(ngModel)]="formForGroup.memberIds" placeholder="ID через запятую"/>
<button (click)="createGroup()">Создать группу</button>